<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpown.webview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.xpown.webview.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xpown.webview.ShowWebImageActivity"
            android:label="@string/title_activity_show_web_image"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"></activity>
    </application>

</manifest>
